<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.geovis.receiver.dao.ProductTableDao">

    <!-- 查询某类数据对应的表名-->
    <select id="selectTableByFilename" parameterType="com.geovis.receiver.pojo.vo.DataSourceVo" resultType="com.geovis.receiver.pojo.bean.ProductTableBean">
        select * from "ldb_dat_sys_data_source"  where 1=1
        and lower("data_source") = #{eleType}
        and "time_type"= #{timeType}

    </select>

    <!-- 查询某类要素对应的productType有哪几个-->
    <select id="selectProductType" parameterType="com.geovis.receiver.pojo.vo.DataSetVo" resultType="com.geovis.receiver.pojo.bean.DataSetTableBean">
        select * from "ldb_dat_sys_dataset"  where 1=1
        and lower("data_source") like '%${dataSource}%'
    </select>

</mapper>